body {
  font-family: 'Padauk', sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: #386890;
}

.header h1 {
  color: white;
  margin-top: 0px;
  padding: 10px 0px;
  text-align: center;
}

.login-form {
  text-align: center;
  font-size: 26px;
}

.login-form input {
  font-size: 17px;
}

.login-submit {
  margin-top: 25px;
  padding: 10px 25px;
  background-color: #386890;
  color: white;
  border: 0px;
  text-align: center;
}

.display-border {
  border-style: double;
  border-width: medium;
}

.button {
    margin:0 auto;
    display:block;
    height:100px;
    width:200px;
}
